@import '../helpers';

.home {
  .main-content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    &__joke {
      color: $theme-accent-no;
      margin-bottom: $spacer-y / 2;

      &:hover {
        cursor: pointer;
      }
    }

    &__name {
      font-size: 5 * $font-size-base;
      color: $color-white;

      @include media-breakpoint-down('md') {
        font-size: 2 * $font-size-base;
      }
    }

    &__job-title {
      color: $theme-gray;
      font-size: 1.5 * $font-size-base;
      margin-bottom: $spacer-y;
    }

    &__joke,
    &__name,
    &__job-title {
      text-align: center;
    }
  }
}