.labs {
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;

    .inner-content {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;

      h1 {
        padding-left: $spacer-x;
      }

      .intro {
        max-width: 50%;
        margin-bottom: $spacer-y * 3;
        padding-left: $spacer-x;
      }
    }
  }
}