.labs {
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .inner-content {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;

      .intro {
        max-width: 50%;
      }
    }
  }
}