//Shamelessly borrowed from: https://codepen.io/heydon/pen/dpzwVd

.fukol {
  margin: 0.5rem;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
    min-height: calc(100vh - 1rem);


    & > * {
      flex: 1 0 (5 * $spacer-x);
      margin: 0.5rem;
    }

    &.h-centre {
      flex-direction: row;
      justify-content: center;
    }
  }
}

.fukol-margin {
  margin: 0;

  &__gird {
    @extend .fukol__grid;
    margin: 0;

    & > * {
      flex: 1 0 (5 * $spacer-x);
      margin: 0;
    }
  }
}
