.lab-item {
  position: relative;
  cursor: pointer;

  @include state('hover, focus') {
    img {
      filter: grayscale(0);
    }
  }

  &__wip-tag {
    position: absolute;
    top: 0;
    left: 0;
    color: $color-white;
    width: 8 * $spacer;
    height: 8 * $spacer;
    z-index: 10;
  }

  &__img {
    position: relative;
    overflow: hidden;

    .lab-item__name {
      color: $theme-accent-farq;
      margin-bottom: 0;
    }

    &__title-container {
      position: absolute;
      bottom: -1000px;
      left: $spacer-x;
      z-index: 10;
      margin-bottom: 0;
      transition: $transition-base;

      &.animate-up {
        bottom: $spacer-y;
      }
    }

    img  {
      width: 100%;
      filter: grayscale(1);
      transition: $transition-base;
      cursor: pointer;
    }
  }

  &__info {
    font-size: 0.8 * $font-size-base;
    color: $color-white;
    transition: $transition-base;
  }
}