.nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;

  &.full-width {
    flex-basis: calc(100% - 1em);
  }

  a {
    padding: 1rem;
    color: $color-white;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      font-weight: $font-weight-medium;
      color: $theme-accent-no;
      transition: $transition-base;
    }
  }
}